Repository anson09/crystal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.yml:

"*.vue":
  - eslint --fix
  - stylelint --fix
  - prettier --write
  - git add
"*.js":
  - eslint --fix
  - prettier --write
  - git add
"*.scss":
  - stylelint --fix
  - prettier --write
  - git add
"*.{html,yml,json,md}":
  - prettier --write
  - git add

feat: project structure update
  .babelrc
  .env.sample
  .eslintrc.yml
  .gitignore
  .postcssrc
  .postcssrc.js
  API.md
  README.md
  depVersion
  nginx.conf.sample
  package-lock.json
  package.json
  scripts/deploy.sh
  scripts/loadenv.sh
  scripts/updep.sh
  src/api/axios.js
  src/assets/icon/.gitkeep
  src/assets/icon/iconfont.css
  src/assets/icon/iconfont.eot
  src/assets/icon/iconfont.svg
  src/assets/icon/iconfont.ttf
  src/assets/icon/iconfont.woff
  src/assets/icon/iconfont.woff2
  src/assets/img/favicon.png
  src/assets/scss/element-ui.scss
  src/assets/scss/global.scss
  src/assets/scss/highcharts.scss
  src/assets/scss/themes/dark.scss
  src/assets/scss/themes/index.scss
  src/assets/scss/themes/light.scss
  src/components/common/TableDecorator.vue
  src/components/element-ui.js
  src/components/highcharts.js
  src/index.html
  src/main.js
  src/router/index.js
  src/views/Home.vue
Due: eslint --fix, stylelint --fix, prettier --write

ci: refuse warning code
  .lintstagedrc.yml
Due: prettier --write

ci: drop style order
  .stylelintrc.yml
  package-lock.json
  package.json
  src/components/common/TableDecorator.vue
Due: eslint --fix, stylelint --fix, prettier --write

ci: add package verison env
  scripts/loadenv.sh
Due: none

feat: start note
  README.md
Due: prettier --write

chore: updep
  .babelrc
  .eslintrc.yml
  .lintstagedrc.yml
  depVersion
  package-lock.json
  package.json
Due: prettier --write

fix: lockfile
  depVersion
  package-lock.json
  package.json
Due: prettier --write

style: prettier 2
  .postcssrc.js
  depVersion
  package-lock.json
  package.json
  src/App.vue
  src/api/axios.js
  src/components/common/TheHeader.vue
  src/components/highcharts.js
  src/main.js
  src/router/index.js
  src/store/index.js
  src/store/modules/demo.js
  src/views/Home.vue
  src/views/NotFound.vue
Due: eslint --fix, stylelint --fix, prettier --write

chore: env.sample
  .env.sample
Due: none

feat: lintstage warning exit
  .lintstagedrc.yml
Due: prettier --write

feat: use rqevent
  .eslintrc.yml
  depVersion
  package-lock.json
  package.json
  src/main.js
Due: eslint --fix, prettier --write

feat: highcharts use local time
  src/components/highcharts.js
Due: eslint --fix, prettier --write

ci: npm use ci
  scripts/updep.sh
Due: none

chore: updep
  depVersion
  package-lock.json
  package.json
Due: prettier --write

fix: linux sed fail
  scripts/loadenv.sh
Due: none

fix: eslint complexity
  .eslintrc.yml
  depVersion
  package-lock.json
  package.json
Due: prettier --write

feat: add normalize.css
  package-lock.json
  package.json
  src/main.js
Due: eslint --fix, prettier --write

perf: add babel polyfill config
  .babelrc
  package.json
Due: prettier --write

feat: lint stage use config.js
  .lintstagedrc.js
  .lintstagedrc.yml
  package-lock.json
Due: eslint --fix, prettier --write

feat: referrer head
  src/index.html
Due: prettier --write

feat: muti core browsers meta
  src/index.html
Due: prettier --write

ci: jenkinsfile
  Jenkinsfile
Due: none

chore: cleanup
  depVersion
  nginx.conf.sample
  package-lock.json
  package.json
  src/assets/icon/iconfont.css
  src/assets/icon/iconfont.eot
  src/assets/icon/iconfont.svg
  src/assets/icon/iconfont.ttf
  src/assets/icon/iconfont.woff
  src/assets/icon/iconfont.woff2
  src/components/element-ui.js
  src/util/date.js
  src/util/index.js
  src/util/number.js
Due: eslint --fix, prettier --write

feat: loading large components dynamically
  src/components/element-ui.js
Due: eslint --fix, prettier --write

chore: update deploy dir
  Jenkinsfile
Due: none

chore: updep
  Jenkinsfile
  depVersion
  package-lock.json
  package.json
  scripts/loadenv.sh
Due: prettier --write

feat: remove global mixin
  src/main.js
  src/util/mixin.js
Due: eslint --fix, prettier --write

ci: distinguish uat/online prepare
  Jenkinsfile
Due: none

fix: parcel build supoort svg v-bind property
  .htmlnanorc
Due: none

feat: add rqcomponents
  .postcssrc.js
  depVersion
  package-lock.json
  package.json
  src/components/common/TheHeader.vue
  src/components/element-ui.js
  src/main.js
Due: eslint --fix, stylelint --fix, prettier --write

fix: element select rename
  src/components/element-ui.js
Due: eslint --fix, prettier --write

fix: rsync the same hash file
  Jenkinsfile
  scripts/deploy.sh
Due: none

feat: inlcude normalize.css
  package-lock.json
  package.json
  src/main.js
Due: eslint --fix, prettier --write

fix: components register name in build mode
  src/components/element-ui.js
Due: eslint --fix, prettier --write

fix: changelog generator
  .versionrc.js
Due: eslint --fix, prettier --write

feat: use rqthemes 1.0.0-next.1
  .postcssrc.js
  depVersion
  package-lock.json
  package.json
  src/main.js
Due: eslint --fix, prettier --write

docs: more readme link
  .env.sample
  Jenkinsfile
  README.md
Due: prettier --write

chore: renewal package-lock.json
  package-lock.json
Due: prettier --write
