Repository anson09/crystal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, stylelint --fix, prettier --write, eslint --fix, stylelint --fix --max-warnings 0

chore: update eslint 7
  depVersion
  package-lock.json
  package.json
Due: prettier --write

revert: autoprefixer is waiting parcel 2 take postcss 8
  package-lock.json
  package.json
Due: prettier --write

style: drop eslint complexity rules
  .eslintrc.yml
Due: prettier --write

style: eslint ignore iconfont.js
  .eslintignore
Due: none

chore: updep
  depVersion
  package-lock.json
  package.json
Due: prettier --write

chore: updep
  package-lock.json
  package.json
Due: prettier --write

feat: .babelrc update
  .babelrc
Due: none

chore: new rqcomponets & new rqtheme
  depVersion
  package-lock.json
  package.json
  src/components/common/TheHeader.vue
  src/components/element-ui.js
  src/main.js
Due: eslint --fix --max-warnings 0, stylelint --fix, prettier --write, eslint --fix

ci: async lint stage
  .lintstagedrc.js
Due: prettier --write, eslint --fix

ci: updep verison robust
  scripts/updep.sh
Due: none

chore: husky v4 -> v5
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.yml
  package-lock.json
  package.json
Due: prettier --write

chore: add vetur dep
  jsconfig.json
Due: prettier --write

perf: split bundle cache
  package-lock.json
  src/dep.js
  src/index.html
  src/main.js
Due: prettier --write, eslint --fix

chore: updep
  .eslintrc.yml
  .husky/.gitignore
  depVersion
  package-lock.json
  package.json
  scripts/loadenv.sh
Due: prettier --write

fix: hrm in https mode
  .env.sample
  package.json
Due: prettier --write

chore: use common not found
  depVersion
  package-lock.json
  package.json
  src/views/NotFound.vue
Due: eslint --fix --max-warnings 0, stylelint --fix, prettier --write

chore: new anka machine
  Jenkinsfile
  depVersion
  package-lock.json
  package.json
Due: prettier --write

chore: update nginx config sample
  README.md
  nginx.conf.sample
Due: prettier --write

chore: updep
  .husky/.gitignore
  .husky/_/husky.sh
  depVersion
  package-lock.json
  package.json
Due: prettier --write

feat: drop rqtheme ie usage
  .postcssrc.js
  depVersion
  package-lock.json
  package.json
  src/main.js
Due: prettier --write, eslint --fix

feat: add BEM mixin
  src/views/style/_mixin.scss
Due: prettier --write, stylelint --fix --max-warnings 0

ci: update server address
  Jenkinsfile
Due: none

chore: update stylelint 14 and support nodejs 16
  .husky/_/husky.sh
  .stylelintrc.yml
  depVersion
  package-lock.json
  package.json
  scripts/hook.sh
  src/components/common/TheHeader.vue
  src/router/index.js
  src/views/HomePage.vue
  src/views/style/_mixin.scss
Due: eslint --fix --max-warnings 0, stylelint --fix, prettier --write, eslint --fix, stylelint --fix --max-warnings 0

fix: opacity 100% -> 1%
  cssnano.config.js
Due: prettier --write, eslint --fix

fix: stylelint config structure
  .stylelintrc.yml
Due: prettier --write

style: stylelint use number opacity, that fix cssnano error
  .htmlnanorc
  cssnano.config.js
  depVersion
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore: updep
  depVersion
  package-lock.json
Due: prettier --write

feat: eslint supports js experimental feature
  .eslintrc.yml
  depVersion
  package-lock.json
  package.json
Due: prettier --write

feat: optimize site seo
  .env.sample
  .lintstagedrc.cjs
  Jenkinsfile
  depVersion
  package-lock.json
  package.json
  scripts/sitemap.js
  src/router.js
Due: prettier --write, eslint --fix

fix: version config need cjs
  .versionrc.cjs
Due: none

ci: set default publish registry
  package.json
Due: prettier --write

refactor: css order
  src/index.js
Due: prettier --write, eslint --fix

ci: stylelint rules vue3
  .stylelintrc.yml
  depVersion
  package-lock.json
  package.json
Due: prettier --write

fix: bundle split logic
  package.json
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.vue
  stylelint --fix: any of: *.vue
  prettier --write: (((any of: *.vue) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{html,yml,json,md})
  eslint --fix: any of: *.js
  stylelint --fix --max-warnings 0: any of: *.scss
