Repository anson09/crystal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, stylelint --fix, prettier --write, eslint --fix, stylelint --fix --max-warnings 0

perf: bundle size optimize
  src/components/element-ui.js
  src/views/HomePage.vue
Due: eslint --fix --max-warnings 0, stylelint --fix, prettier --write, eslint --fix

feat: support reset all store
  depVersion
  package-lock.json
  package.json
  src/api/index.js
  src/components/element-ui.js
  src/index.js
  src/store/common.js
  src/store/count.js
  src/store/index.js
  src/store/plugins/reset.js
  src/util/index.js
  src/views/HomePage.vue
Due: eslint --fix --max-warnings 0, stylelint --fix, prettier --write, eslint --fix

ci: add retry
  Jenkinsfile
Due: none

chore: updep
  depVersion
  package-lock.json
  package.json
Due: prettier --write

chore: standard-version -> commit-and-tag-version
  depVersion
  package-lock.json
  package.json
Due: prettier --write

feat: using lightingcss for css, and droping scss
  .lintstagedrc.cjs
  .prettierignore
  .stylelintrc.yml
  .versionrc.cjs
  depVersion
  package-lock.json
  package.json
  scripts/lint.sh
  src/index.js
  src/style/_mixin.scss
  src/style/index.css
  src/views/HomePage.vue
  src/views/NotFound.vue
Due: eslint --fix --max-warnings 0, stylelint --fix, prettier --write, eslint --fix, stylelint --fix --max-warnings 0

docs: starter
  README.md
  depVersion
  package-lock.json
  package.json
Due: prettier --write

feat: ky -> axios
  depVersion
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.vue
  stylelint --fix: any of: *.vue
  prettier --write: (((any of: *.vue) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{html,yml,json,md})
  eslint --fix: any of: *.js
  stylelint --fix --max-warnings 0: any of: *.scss
